@model StudentCreateModel

<div class="modal fade" id="basicModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Öğrenci Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <form class="row g-3 my-3" method="post">
                            <div class="col-md-12">
                                <input asp-for="@Model.FirstName" type="text" class="form-control" placeholder="İsim">
                            </div>
                            <div class="col-md-12 ">
                                <input asp-for="@Model.LastName" type="text" class="form-control" placeholder="Soyisim">
                            </div>
                            <div class="d-flex justify-content-between ps-2">
                                <div class="col-md-6">




                                    <select asp-for="@Model.Gender" asp-items="@ViewBag.GenderList" id="inputState" class="form-select form-select-solid">
                                        <option selected disabled>Cinsiyet</option>
                                    </select>
                                    <span asp-validation-for="@Model.Gender"></span>





                                </div>
                                <div class="col-md-6">
                                    <input asp-for="@Model.DateOfBirth" type="date" class="form-control" asp-format="{0:dd/MM/yyyy}">
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <input class="form-control" type="file" id="formFile" />
                            </div>
                            <div class="text-center">
                                <button type="reset" class="btn btn-secondary">Sıfırla</button>
                                <button asp-controller="Student" asp-action="Create" type="submit" class="btn btn-primary">Gönder</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- End Basic Modal-->
