@model List<StudentListModel>

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="card-title">Öğrenci Listesi</h5>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#basicModal">Öğrenci Ekle</button>
                    </div>
                    <table class="table datatable table-hover">
                        <thead class="d-flex justify-content-center">
                            <tr>
                                <th></th>
                                <th>İsim</th>
                                <th>Soyisim</th>
                                <th>Cinsiyet</th>
                                <th data-type="date" data-format="YYYY/DD/MM">Doğum Tarihi</th>
                                <th>Seçenekler</th>
                            </tr>
                        </thead>
                        <tbody>
                                @if (Model != null)
                                {
                                    foreach (var student in Model)
                                    {
                                    <tr class="">
                                            @if (!string.IsNullOrEmpty(student.ImageUri))
                                            {
                                            <td class="d-flex justify-content-center align-items-center">
                                                <img class="rounded-circle" src="@student.ImageUri" alt="Student Image" width="50" height="50" />
                                            </td>
                                            }
                                            else
                                            {
                                            <td class="d-flex justify-content-center align-items-center">
                                                <img class="rounded-circle" src="https://localhost:7043/images/blank-profile-photo.jpg" alt="No Photo" width="50" height="50" />
                                            </td>
                                            }
                                        <td>@student.FirstName</td>
                                        <td>@student.LastName</td>
                                        <td>@student.Gender</td>
                                        <td>@student.DateOfBirth.ToShortDateString()</td>
                                        <td>
                                            <a asp-controller="Student" asp-action="Update" asp-route-id="@student.Id" class="btn btn-warning">Düzenle</a>
                                            <a asp-controller="Student" asp-action="Delete" asp-route-id="@student.Id" class="btn btn-danger">Sil</a>
                                        </td>
                                    </tr>
                                    }
                                }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<partial name="~/Areas/Admin/Views/Student/Create.cshtml" model="new StudentCreateModel()"></partial>


@section Scripts{
    <script>
        $(document).ready(function () {
            var message = '@TempData["AlertMessage"]'
            if (message) {
                Swal.fire({
                    icon: 'Success',
                    title: message,
                    timer: 2000
                })
            }
        })
    </script>
}
